ul
   - for (var x = 0; x < 4; x++)
      li.portfolio-item
         .demo-image
            img(src="i/photo.jpeg", alt="portfolio screenshot").content_item__portfolio-item__image-content
            .demo-image_caption
               a(href="#").demo-image_caption-link name
         .content_item__portfolio-item__url www.site.ru
         .content_item__portfolio-item__description.multiline-ellipsis 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24