address.address-bar
   .address-bar_header Контакты
   ul
      li.address-bar_item.mail:    a(href="mailto:sosnovsky.as@gmail.com") sosnovsky.as@gmail.com
      li.address-bar_item.phone:   a(href="callto:+79161038007?call") +79161038007
      li.address-bar_item.skype:   a(href="skype:sosnovskyas?call") sosnovskyas