// VARIABLES
- var mainMenuItems = { index:'Обо мне', portfolio:'Мои работы',feedback:'Обратная связь'}

// CONTENT
doctype html
<!--[if IE 8]>
<html lang="ru-RU" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru-RU">
<!--<![endif]-->
head
    include head
body.bg

  .sticky-footer_layout
    include ../../components/header/header
    .wrapper_middle.clearfix
      aside.sidebar
        block main-menu
        nav
          include ../../components/main-menu/main-menu
        include ../../components/adress-bar/adress-bar

        //block sidebar
      section.content
        block content
    .sticky-footer_footer
    //include ../footer/footer
    //include ../login/login
    script(src="vendor.js")
    script(src="custom.js")
