extends templates/layout

block title
    - var title = "главная страница"

block main-menu
    - var page = "index"

block content
    .block
        .header-1 Основная информация
        .block_content
            include ../components/avatar/avatar
    .block
        .header-1 Опыт работы
        h2 skills
        h2 skills
    .block
        .header-1 Образование
        h2 studies
