extends templates/layout

block title
    - var title = "Портфолио"

block main-menu
    - var page = "portfolio"

block content
    .wrap
        .box
            h2 portfolio
            include ../components/portfolio-item/portfolio-item

        //TODO сделать инлайновыми блоками айтемы портфолио
            //TODO    inline-block + vertical-align: top